.app {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  background-color: #fff;
  color:#000;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 40px;
}

.app__link-outside{
  color: #000;
  text-decoration: none;
  transition: color .3s ease-in;
}

.app__link-outside:hover{
  color: #2be080;
}

.app__link{
  text-decoration: none;
  transition: opacity .3s ease-in;
}

.app__link:hover{
  opacity: .4;
}